<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/style.css">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<header class="col-12">
				<a href="/" >Content Curation</a>

			</header>
			<div class="container col-12">

			{{ content }}

			</div>
			<footer class="col-12">
					<div class="col-4">Damian Kuraś</div>
					<div class="col-8">damian_kuras@outlook.com</div>
			</footer>
		</body>
	</html>
